body {
  background-color: #2b5136;
}


.container {
  text-align: center;
  background-color: #2b5136;
}

.collapsible {
  margin-top: 5%;
}

.collapsible-header {
  color: #730202;
  background-color: #f2bd54;
  font-weight: bold;
  font-size: 160%;
  text-shadow: 0px 1px 1px #2b5136;

}

.collapsible-body {
  color: #f2bd54;
  font-weight: bold;
  font-size: 132%;
  text-align: left;
  text-shadow:
  1px 3px 0 #000,
-1px -1px 0 #000,  
 1px -1px 0 #000,
 -1px 1px 0 #000,
  1px 1px 0 #000;
}

.nav-wrapper {
  background-color: #f2bd54;
}

span.brand-logo {
  color: #730202; 
  text-shadow: 0 1px 1px #2b5136, 0px 1px 1px black;
  font-weight: bolder;
  font-size: 350%;
}

.sidenav {
  width: 0;
}

.sidenav-overlay {
  background-color: transparent;
}

nav .material-icons{
  color: #f2bd54;
}

.collapsible-header .material-icons {
  color: #2b5136;
}


 
 /* ==== Extra-Small devices ==== */
 @media only screen and (max-width: 600px) {
  span.brand-logo {
    font-size: 200%;
  }

  .collapsible-header {
    font-size: 100%;
    text-align: left;
  }

  .collapsible-body {
    font-size: 115%;
  }
}



